body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#cardGroup{
  margin: 5%;
  --bs-card-bg: rgb(255, 243, 230);


}
.card{
  --bs-card-bg: rgb(255, 243, 230) !important;
}

h3{
  margin-top: 10px !important;
  color: red;
} 